
<div class="container">
  <h1>Capybara Screenshot Example</h1>

  <form>
    <fieldset>
      <input id="fill_me" required placeholder="Enter a mandatory value here" />
      <input type="submit" value="Submit" />
    </fieldset>
  </form>
</div>
